@tailwind base;
@tailwind components;
@tailwind utilities;


/* styles.css */
.custom-side-shadow {
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.5), 5px 0 15px rgba(0, 0, 0, 0.5);
}

html, body {
  height: 100%;
}

#__next {
  height: 100%;
}

.scrollbar-none{
  scrollbar-width: none;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

body {
  margin: 0;
  padding: 0;
}